/* Lista de cores para o projeto */
:root {
  --fonte-white: #ffffff;
  --formularios: #bfbfbf;
  --principal-da-logo: #5f1bf2;
  --secundaria-degrade: #724ebf;
}

/* Estilos para a página de boas-vindas */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -2rem;
  gap: 2rem;
  height: 100vh;
  background-color: var(--principal-da-logo);
}

.be-vietnam-pro-black {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--principal-da-logo);
}

.be-vietnam-pro-bold {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 20px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: var(--fonte-white);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--fonte-white);
  padding: 1rem;
  border-radius: 20px;
    box-shadow: 9px 11px 12px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 11px 12px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 11px 12px -6px rgba(0, 0, 0, 0.75);
  width: 22rem;
}

.inputs{
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--formularios);
  color: #000000;
  border-radius: 12px;
  border-style: none;
  cursor: pointer;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

button {
  padding: 0.2rem;
  /*background-color: var(--principal-da-logo);*/
  color: var(--fonte-white);
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
}

button:active {
  background-color: var(--secundaria-degrade);
}

label {
  color: var(--principal-da-logo);
  gap: 2px;
  font-weight: 400;
  cursor: pointer;
}

#conectado {
  accent-color: var(--principal-da-logo);
  cursor: pointer;
  margin: 5px;
}

a {
  color: var(--principal-da-logo);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0.5px solid var(--formularios);
}
