/* Lista de cores para o projeto */
:root {
    --fonte-white: #ffffff;
    --formularios: #bfbfbf;
    --principal-da-logo: #5f1bf2;
    --secundaria-degrade: #724ebf;
}

/* Estilos para a página de boas-vindas */
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 100vh;
    background-color: var(--principal-da-logo);
}

.be-vietnam-pro-black h1 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--fonte-white);
}

